Include create_clone.py
Include create_snapshot.py
Include create_svm.py
Include create_volume.py
Include list_aggregates.py
Include list_clones.py
Include list_snapshots.py
Include list_volumes.py
Include list_vserver.py
Include /usr/share/nano/asm.nanorc
Include /usr/share/nano/awk.nanorc
Include /usr/share/nano/cmake.nanorc
Include /usr/share/nano/c.nanorc
Include /usr/share/nano/css.nanorc
Include /usr/share/nano/debian.nanorc
Include /usr/share/nano/Dockerfile.nanorc
Include /usr/share/nano/fortran.nanorc
Include /usr/share/nano/gentoo.nanorc
Include /usr/share/nano/groff.nanorc
Include /usr/share/nano/html.nanorc
Include /usr/share/nano/java.nanorc
Include /usr/share/nano/lua.nanorc
Include /usr/share/nano/makefile.nanorc
Include /usr/share/nano/man.nanorc
Include /usr/share/nano/mgp.nanorc
Include /usr/share/nano/mutt.nanorc
Include /usr/share/nano/nanorc.nanorc
Include /usr/share/nano/objc.nanorc
Include /usr/share/nano/ocaml.nanorc
Include /usr/share/nano/patch.nanorc
Include /usr/share/nano/perl.nanorc
Include /usr/share/nano/php.nanorc
Include /usr/share/nano/pov.nanorc
Include /usr/share/nano/python.nanorc
Include /usr/share/nano/ruby.nanorc
Include /usr/share/nano/sh.nanorc
Include /usr/share/nano/spec.nanorc
Include /usr/share/nano/tcl.nanorc
Include /usr/share/nano/tex.nanorc
Include /usr/share/nano/xml.nanorc
